<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="assets/icon/favicon.ico"> 
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>
  <%= htmlWebpackPlugin.files.webpackManifest %>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <!-- CSS will be injected by webpack here -->
  <!-- Preload link tags will be injected by webpack here -->
  <!---->
</head>

<body>

<script src="assets/inspinia/js/jquery.min.js"></script>
<script src="assets/inspinia/lib/inspinia.js"></script>
<script src="assets/inspinia/lib/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Main Angular scripts-->
<script src="assets/inspinia/lib/plugins/sweetalert/sweetalert.min.js"></script>
<script src="assets/idc.js"></script>
  <app>
    Loading...
  </app>

  <!-- Scripts will be injected by webpack here -->
</body>
</html>
